{% extends 'base.html' %}
{% block center_body %}



	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="/user/user_center_info"  {% if tag == 1 %}class="active"{% endif %}>· 个人信息</a></li>
				<li><a href="/user/user_center_order/1" {% if tag == 2 %}class="active"{% endif %}>· 全部订单</a></li>
				<li><a href="/user/user_center_site" {% if tag == 3 %}class="active"{% endif %}>· 收货地址</a></li>
			</ul>
		</div>

    {% block right_content %}


    {% endblock right_content %}

	</div>



{% endblock center_body %}