{% extends 'df_goods/base.html' %}


{% block center_content %}


	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for goods in news %}
					<li>
						<a href="/{{ goods.id }}"><img src="/static/{{ goods.gpic }}"></a>
						<h4><a href="/{{ goods.id }}">{{ goods.gtitle }}</a></h4>
						<div class="prize">￥{{ goods.gprice }}</div>
					</li>
				    {% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="/list_{{ typeinfo.id }}_1_1"
                   {% if sort == '1' %}
                   class="active"
                   {% endif %}
                   >默认</a>
				<a href="/list_{{ typeinfo.id }}_2_1" {% if sort == '2' %}
                   class="active"
                   {% endif %}>价格</a>
				<a href="/list_{{ typeinfo.id }}_3_1" {% if sort == '3' %}
                   class="active"
                   {% endif %}>人气</a>
			</div>

			<ul class="goods_type_list clearfix">
				{% for goods in page %}

                <li>
					<a href="/{{ goods.id }}"><img src="/static/{{ goods.gpic }}"></a>
					<h4><a href="/{{ goods.id }}">{{ goods.gtitle }}</a></h4>
					<div class="operate">
						<span class="prize">￥{{ goods.gprice }}</span>
						<span class="unit">{{ goods.gunit }}</span>
						<a href="/cart/add_{{ goods.id }}_1" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
                 {% endfor %}

			</ul>

			<div class="pagenation">
{#            判断是否是第一页#}
                {% if page.has_previous %}
				<a href="/list_{{ typeinfo.id }}_{{ sort }}_{{ page.previous_page_number }}">上一页</a>
                {% endif %}
{#            paginator.page_range为页码总数#}
                {% for pindex in paginator.page_range %}
{#                    是否为当前页#}
                    {% if page.number == pindex %}
				    <a href="/list_{{ typeinfo.id }}_{{ sort }}_{{pindex}}" class="active">{{ pindex }}</a>
                    {% else %}
				    <a href="/list_{{ typeinfo.id }}_{{ sort }}_{{pindex}}">{{ pindex }}</a>
                    {% endif %}
                {% endfor %}
                {% if page.has_next %}
				<a href="/list_{{ typeinfo.id }}_{{ sort }}_{{ page.next_page_number }}">下一页></a>
                {% endif %}
			</div>
		</div>
	</div>

	{% endblock center_content %}